# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\TFG_PC_APP_PYQT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
